<app-navbar></app-navbar>

<h1>{{ getValueFromMessageService() }}</h1>

<h1>{{ getService().salutamiService() }}</h1>

<h2>{{ messageService.salutamiService() }}</h2>

<!--
<app-example-for [listaDiNumeri] = '[3 , 2, 1 , 13, 50]' ></app-example-for>
<app-cinema [listaPosti] = '[true , false , true , true]'></app-cinema>
-->

<app-fetcher></app-fetcher>

<div class="text-center">
  <h2>{{ myName | lowercase }}</h2>
  <h2>{{ myName | uppercase }}</h2>
  <h2>{{ myName | uppercase }}</h2>

  <pre>{{ object }}</pre>

  <!--
  <p>{{nomeVariabile | nomeDelPipe}}</p>
  -->

  <h3>{{ object | json }}</h3>
</div>

<div class="container">
  <div class="row">
    <div class="text-center">
      <p-slider [(ngModel)]="myValue" [min]="0" [max]="1000"></p-slider>
      <h2>{{ myValue }}</h2>
    </div>
  </div>
</div>

<!--
<app-header [titoloArgomento] = "titleFromParent" [password] = "'sas'"></app-header>

<app-info [nome]="'Rob'"  [cognome]="'Mic'" [listaCibi] ="listaDatiPadre"></app-info>

<hr>

<app-somma [numero1] =3  [numero2] = 1 ></app-somma>

<app-data-image [myObject] = "valoreInputPadre" ></app-data-image>


<div class="container">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center">
      
      <button class="btn btn-danger">Prova</button>
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

-->
